[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
black = "==19.10b0"

[packages]
pytelegrambotapi = "*"
dynaconf = {extras = ["yaml"],version = "*"}
pyowm = "*"

[requires]
python_version = "3.8"
